@{
    ViewBag.Title = "Resume";
}

<style>
    h1{
        margin: 0px;
        color: #17406d;
    }
    h4{
        margin: 5px;
        color: #17406d;
    }
    hr{
        margin: 5px;
    }
    .hr{
        margin: 0px 20px 5px 20px;
    }
    .link{
        color: #448ad7;
    }
    .small-caps{
        font-size: 27px;
    }
    .section{
        color: black;
    }
    .section-spacer{
        margin-top: 45px;
    }
    .section-header{
        display: inline;
        font-weight: 600;
        padding-left: 15px;
        margin-right: 0px;
        color: #17406d;
    }
    .section-divider{
        margin: 0px;
        display: inline;
        border-color: #448ad7;
        border-width: 1px;
    }
    p{
        margin-left: 20px;
        margin-right: 20%;
    }
    .job-company{

    }
    .job-location{

    }
    .job-year{

    }
</style>

<div class="section">
    <!--Heading-->
    <div class="container">
        <div class="row text-center">
            <h1>N<span class="small-caps">ATHAN</span> H<span class="small-caps">ERING</span></h1>
            <h4>Vancouver WA</h4>
        </div>
        <hr />
        <div class="row text-center">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><a class="link" href="https://github.com/nhering" target="_blank">GitHub</a></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><a class="link" href="mailto:nhering1@gmail.com">Gmail</a></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><a class="link" href="https://linkedin.com/in/nathanhering" target="_blank">LinkedIn</a></div>
        </div>
        <hr />
    </div>

    <!--Tools-->
    <div class="container">
        <div class="row">
            <div class="section-spacer">
                <h4 class="section-header">Tools</h4>
                <p class="section-divider"></p>
                <hr class="hr"/>
            </div>
        </div>
        <ul>
            <li class="col-sm-3 col-xs-5">ASP.NET MVC</li>
            <li class="col-sm-3 col-xs-5">Python</li>
            <li class="col-sm-3 col-xs-5">C#</li>
            <li class="col-sm-3 col-xs-5">JavaScript</li>
            <li class="col-sm-3 col-xs-5">SQL</li>
            <li class="col-sm-3 col-xs-5">MS Excel</li>
            <li class="col-sm-3 col-xs-5">HTML5</li>
            <li class="col-sm-3 col-xs-5">CSS3</li>
            <li class="col-sm-3 col-xs-5">Visual Studio</li>
            <li class="col-sm-3 col-xs-5">NetBeans</li>
            <li class="col-sm-3 col-xs-5">Java</li>
            <li class="col-sm-3 col-xs-5">Git</li>
        </ul>
    </div>

    <!--Projects-->
    <div class="container">
        <div class="row">
            <div class="section-spacer">
                <h4 class="section-header">Projects</h4>
                <p class="section-divider"></p>
                <hr class="hr" />
            </div>
            <p>Over the course of the past few months I have learned a great deal about software development by applying that knowledge in various projects. Here is a list of the diverse experiences I’ve had.</p>
            <ul>
                <li class="col-lg-10">SQL – Relational database creation via stored procedure. Database emulated a library of users, authors, publishers, library branches, and books. Created multiple stored procedures to query based on joining the tables. GitHub link</li>
                <li class="col-lg-10">Python – Created a file transfer application that filters files to copy based on modify date of the selected files. Functionality also includes database creation to save recently selected folders and creates ‘profiles’ that can be reused and updated. GitHub link</li>
                <li class="col-lg-10">JavaScript – Designed a dynamic web page emulating an ordering process for a pizza restaurant. Features include real-time tabulation of price based on selections made by the user. GitHub link</li>
                <li class="col-lg-10">ASP.NET MVC – Constructed a mock insurance company web application. Features included a quote generator, and CRUD operations on a database, and user login functionality.</li>
                <li class="col-lg-10">C# – Made a simple slot machine game which randomized images, calculated jackpot based on combination, and tracked user winnings/losses using view state.</li>
                <li class="col-lg-10">MS Excel – Developed an application designed to mitigate inconsistency in core business processes at a Portland based internet provider. The application combines department efforts from customer discovery, to engineering, and through to bidding on projects. It also provides a place for executives to adjust overhead costs and know that it will be effectively reflected when sales representatives build quotes.</li>
            </ul>
        </div>
    </div>

    <!--Experience-->
    <div class="container">
        <div class="row">
            <div class="section-spacer">
                <h4 class="section-header">Experience</h4>
                <p class="section-divider"></p>
                <hr class="hr" />
            </div>
            <h4 class="section-header">Junior Developer Intern</h4>
            <br />
                <h4 class="section-header">The Tech Academy</h4>
                <h4 class="section-header">Portland OR</h4>
                <h4 class="section-header">2017</h4>
            <p>During my internship, I contributed to an ASP.NET MVC project called Job Board PDX. Which is an application that brings tech company job offerings and available talent together in one place. I worked on multiple user stories in an agile work environment.</p>
            <ul>
                <li class="col-lg-10">Modified existing form fields including binding to a database</li>
                <li class="col-lg-10">Performed code first data-migration to modify an existing table</li>
                <li class="col-lg-10">Implemented JavaScript to dynamically change input layout based on user events</li>
                <li class="col-lg-10">Added a tool-tip that displays text from a database</li>
                <li class="col-lg-10">Implemented current user recognition to modify the view based on their personal information</li>
                <li class="col-lg-10">Added functionality to a search result to display based on current users saved information</li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <br />
            <br />
            <h4 class="section-spacer section-header">Field Operations Manager</h4>
            <br />
            <h4 class="section-header">Freewire Broadband LLC</h4>
            <h4 class="section-header">Beaverton OR</h4>
            <h4 class="section-header">2012 - 2016</h4>
            <p>My roll required that I work closely with other department leaders and ensured open and accurate communication. I was available 24/7/365 for emergency issues. I conducted weekly update meetings with department heads to keep everyone aware of current projects status.</p>
            <ul>
                <li class="col-lg-10"> Lead and developed field crew</li>
                <li class="col-lg-10">Instituted employee lifecycle tools including performance appraisal standards and incentive tools</li>
                <li class="col-lg-10">Manage customer and internal projects</li>
                <li class="col-lg-10">Prioritize resources for emergency maintenance</li>
            </ul>
        </div>
        <div class="row" style="margin-top: 15px;">
            <p>I also took on the additional task of migrating the company from existing systems to a consolidated system for managing ticketing, CRM, inventory management, invoicing, and project management.</p>
            <ul>
                <li class="col-lg-10">Reformatted existing database information</li>
                <li class="col-lg-10">Configured the new system to align with the company’s business logic</li>
                <li class="col-lg-10">Designed and presented training materials to all staff to facilitate a smooth transition</li>
            </ul>
        </div>
      </div>

      <div class="container">
          <div class="row">
District Auditor
FedEx Office	NW OR, SW WA	2005 - 2011
While working with the management teams of 18 to 30+ centers I developed systems to promote compliance while easing the strain of running a center. I assisted in root cause analysis, action plan development, and implementations through one on one and group training.
•	Improve audit compliance from an ‘At Risk’ rating to ‘Exceeds Expectation’ over a 12-month period
•	Inspect and measure key performance indicators at a branch and district level
•	Develop root cause analysis for improvement plans at a branch and district level
•	Train entry to manager level team members in one on one and group settings
Education
Software Development
The Tech Academy	Portland OR	2017
A programming boot-camp located in downtown Portland OR. I learned multiple software technologies and had the opportunity to implement them in multiple projects. Here are the primary areas of focus.

•	Version Control – Focused on fundamental concepts and practices of VCS
•	HTML5, CSS3 & Bootstrap – Built a website from scratch and troubleshoot existing layouts
•	Database & SQL – Covered relational databases, query structure, and stored procedures
•	JavaScript – Dynamic responsive web design
•	Python – Object oriented programming and user interface using Tkinter
•	C# – Object oriented programming with Visual Studio IDE
•	ASP.NET MVC – Architecture of web applications and Entity Framework
•	Agile PM – Experience on an MVC web application in a real-world environment

</div>



@*<body lang=EN-US link="#0563C1" vlink="#7B4968">

    <div class=WordSection1>

        <p class=Standard align=center style='text-align:center'>
            <span class=TitleChar>
                <span style='font-size:26.0pt;color:#17406D'>­N</span>
            </span>
            <span class=TitleChar>
                <span style='font-size:22.0pt;color:#17406D'>ATHAN</span>
            </span><span class=TitleChar><span style='font-size:26.0pt;color:#17406D'> H</span></span><span class=TitleChar><span style='font-size:22.0pt;color:#17406D'>ERING</span></span>
        </p>

        <p class=Standard align=center style='margin-bottom:12.0pt;text-align:center'>
            <span style='position:absolute;z-index:251668480;left:0px;margin-left:72px;
margin-top:26px;width:673px;height:1px'>
                <img width=673 height=1
                     src="Nathan%20Hering%20Resume%202017_files/image007.gif">
            </span><span style='color:#17406D'>Vancouver WA  |  360.852.3563</span>
        </p>

        <p class=Standard>
            <span style='position:absolute;z-index:251670528;margin-left:
72px;margin-top:24px;width:673px;height:1px'>
                <img width=673 height=1
                     src="Nathan%20Hering%20Resume%202017_files/image007.gif">
            </span>
            <a href="https://github.com/nhering">GitHub</a><span class=MsoHyperlink>
                <span style='font-size:9.0pt;text-decoration:none'>/nhering</span>
            </span>
            <a href="mailto:NHering1@gmail.com">NHering1@gmail.com</a>
            <a href="http://www.linkedin.com/in/nathanhering">LinkedIn</a><span class=MsoHyperlink><span style='font-size:9.0pt;text-decoration:none'>/in/nathanhering</span></span>
        </p>

        <p class=Standard align=center style='text-align:center'>&nbsp;</p>

        <h1>
            <span style='position:absolute;z-index:251664384;margin-left:53px;
margin-top:36px;width:612px;height:1px'>
                <img width=612 height=1
                     src="Nathan%20Hering%20Resume%202017_files/image008.gif">
            </span><span style='color:#17406D'>Tools</span>
        </h1>

    </div>

    <span style='font-size:11.0pt;font-family:"Tw Cen MT",sans-serif'>
        <br clear=all style='page-break-before:auto'>
    </span>

    <div class=WordSection2>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>ASP.NET MVC
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Python
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>C#
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>JavaScript
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>SQL
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>MS Excel
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>HTML5
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>CSS3
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Visual Studio
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>NetBeans
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Java
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Git
        </p>

    </div>

    <span style='font-size:11.0pt;font-family:"Tw Cen MT",sans-serif'>
        <br clear=all style='page-break-before:auto'>
    </span>

    <div class=WordSection3>

        <h1>
            <span style='position:absolute;z-index:251660288;margin-left:72px;
margin-top:38px;width:593px;height:1px'>
                <img width=593 height=1
                     src="Nathan%20Hering%20Resume%202017_files/image009.gif">
            </span><span style='color:#17406D'>Projects</span>
        </h1>

        <p class=MsoListBullet>
            Over the course of the past few months I have learned a
            great deal about software development by applying that knowledge in various
            projects. Here is a list of the diverse experiences I’ve had.
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>SQL – Relational database creation via stored procedure. Database
            emulated a library of users, authors, publishers, library branches, and books.
            Created multiple stored procedures to query based on joining the tables.<span style='font-size:10.0pt;line-height:120%'></span><a href="https://github.com/nhering/LibraryDatabase">
                <span style='font-size:10.0pt;
line-height:120%'>GitHub link</span>
            </a>
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Python – Created a file transfer application that filters files
            to copy based on modify date of the selected files. Functionality also includes
            database creation to save recently selected folders and creates ‘profiles’ that
            can be reused and updated. <a href="https://github.com/nhering/Archive-2.0">
                <span style='font-size:10.0pt;line-height:120%'>GitHub link</span>
            </a>
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>JavaScript – Designed a dynamic web page emulating an ordering
            process for a pizza restaurant. Features include real-time tabulation of price
            based on selections made by the user. <a href="https://github.com/nhering/pizza_menu">
                <span style='font-size:10.0pt;
line-height:120%'>GitHub link</span>
            </a>
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>ASP.NET MVC – Constructed a mock insurance company web
            application. Features included a quote generator, and CRUD operations on a
            database, and user login functionality.
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>C# – Made a simple slot machine game which randomized images,
            calculated jackpot based on combination, and tracked user winnings/losses using
            view state.
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>MS Excel – Developed an application designed to mitigate inconsistency
            in core business processes at a Portland based internet provider. The
            application combines department efforts from customer discovery, to
            engineering, and through to bidding on projects. It also provides a place for
            executives to adjust overhead costs and know that it will be effectively
            reflected when sales representatives build quotes.
        </p>

        <h1>
            <span style='position:absolute;z-index:251662336;margin-left:96px;
margin-top:38px;width:569px;height:1px'>
                <img width=569 height=1
                     src="Nathan%20Hering%20Resume%202017_files/image010.gif">
            </span><span style='color:#17406D'>Experience</span>
        </h1>

        <h2><span style='color:#17406D'>Junior Developer Intern                                 </span></h2>

        <h2>
            <span style='color:#17406D'>
                The Tech Academy                               Portland
                OR                                                   2017
            </span>
        </h2>

        <p class=MsoListBullet>
            During my internship, I contributed to an ASP.NET MVC
            project called Job Board PDX. Which is an application that brings tech company
            job offerings and available talent together in one place. I worked on multiple
            user stories in an agile work environment.
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Modified existing form fields including binding to a database
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Performed code first data-migration to modify an existing table
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Implemented JavaScript to dynamically change input layout based
            on user events
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Added a tool-tip that displays text from a database
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Implemented current user recognition to modify the view based on
            their personal information
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
80%'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Added functionality to a search result to display based on
            current users saved information
        </p>

        <h2><span style='color:#17406D'>&nbsp;</span></h2>

        <h2><span style='color:#17406D'>Field Operations Manager</span></h2>

        <h2>
            <span style='color:#17406D'>
                Freewire Broadband LLC                      Beaverton
                OR                                        2012 - 2016
            </span>
        </h2>

        <p class=MsoListBullet>
            My roll required that I work closely with other
            department leaders and ensured open and accurate communication. I was available
            24/7/365 for emergency issues. I conducted weekly update meetings with
            department heads to keep everyone aware of current projects status.
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Lead and developed field crew
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Instituted employee lifecycle tools including performance
            appraisal standards and incentive tools
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Manage customer and internal projects
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Prioritize resources for emergency maintenance
        </p>

        <p class=MsoListBullet>
            I also took on the additional task of migrating the
            company from existing systems to a consolidated system for managing ticketing,
            CRM, inventory management, invoicing, and project management.
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Reformatted existing database information
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Configured the new system to align with the company’s business
            logic
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Designed and presented training materials to all staff to facilitate
            a smooth transition
        </p>

        <h2><span style='color:#17406D'>District Auditor</span></h2>

        <h2>
            <span style='color:#17406D'>
                FedEx Office                                     NW
                OR, SW WA                                      2005 - 2011
            </span>
        </h2>

        <p class=MsoListBullet>
            While working with the management teams of 18 to 30+
            centers I developed systems to promote compliance while easing the strain of
            running a center. I assisted in root cause analysis, action plan development,
            and implementations through one on one and group training.
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Improve audit compliance from an ‘At Risk’ rating to ‘Exceeds
            Expectation’ over a 12-month period
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Inspect and measure key performance indicators at a branch and district
            level
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Develop root cause analysis for improvement plans at a branch and
            district level
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Train entry to manager level team members in one on one and group
            settings
        </p>

        <h1>
            <span style='position:absolute;z-index:251666432;margin-left:89px;
margin-top:37px;width:577px;height:1px'>
                <img width=577 height=1
                     src="Nathan%20Hering%20Resume%202017_files/image011.gif">
            </span><span style='color:#17406D'>Education</span>
        </h1>

        <h2><span style='color:#17406D'>Software Development</span></h2>

        <h2>
            <span style='color:#17406D'>
                The Tech Academy                               Portland
                OR                                                   2017
            </span>
        </h2>

        <p class=MsoNormal>
            A programming boot-camp located in downtown Portland OR. I
            learned multiple software technologies and had the opportunity to implement
            them in multiple projects. Here are the primary areas of focus.
        </p>

    </div>

    <span style='font-size:11.0pt;font-family:"Tw Cen MT",sans-serif'>
        <br clear=all style='page-break-before:auto'>
    </span>

    <div class=WordSection4>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
normal'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Version Control – Focused on fundamental concepts and practices
            of VCS
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
normal'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>HTML5, CSS3 &amp; Bootstrap – Built a website from scratch and
            troubleshoot existing layouts
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
normal'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Database &amp; SQL – Covered relational databases, query
            structure, and stored procedures
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
normal'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>JavaScript – Dynamic responsive web design
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
normal'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Python – Object oriented programming and user interface using
            Tkinter
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
normal'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>C# – Object oriented programming with Visual Studio IDE
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
normal'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>ASP.NET MVC – Architecture of web applications and Entity
            Framework
        </p>

        <p class=MsoListBullet style='margin-left:.5in;text-indent:-.25in;line-height:
normal'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Agile PM – Experience on an MVC web application in a real-world
            environment
        </p>

    </div>

    <span style='font-size:11.0pt;font-family:"Tw Cen MT",sans-serif'>
        <br clear=all style='page-break-before:auto'>
    </span>

    <div class=WordSection5>

        <p class=MsoListBullet>&nbsp;</p>

        <p class=MsoListBullet>&nbsp;</p>

    </div>

</body>

</html>*@
