body {
  background-color: tan;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.gamePage {
    width: 1000px;
    margin: 0px auto;
}

.titleBanner {
    margin: 10px 0px;
    font-family: 'Arial Rounded MT';
    font-size: 40px;
    text-align: center;
    cursor: default;
    color: green;
}

.monitor {
    border-radius: 4px;
    border: 5px solid #937247;
    box-shadow: 1px 1px 15px #3e2a2a;
    background-color: #223322;
}

.gameArea {
    float: left;
    width: 760px;
    height: 500px;
}

.infoArea{
    display: inline;
    float: right;
    width: 230px;
    padding: 0px 10px;
    height: 500px;
    cursor: default;
}

.controlTextBlock {
    background-color: #0a760a;
    border-radius: 4px;
    border: solid 1px #1a861a;
    margin: 10px 0px;
    padding: 5px 10px;
    color: #ecffdc;
    text-shadow: 0px 0px 2px black;
}

.controlTextBlock:hover {
    box-shadow: 0px 0px 5px #8dea8f;
}

.controlText {
    display: inline;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.controlShortcut {
    padding-top: 3px;
    font-size: 10px;
    display: inline;
    float: right;
}

.infoTextBlock {
    background-color: #3c503c;
    border-radius: 4px;
    border: solid 1px #4c604c;
    padding: 5px 10px;
    margin: 10px 0px;
    color: #3aa63a;
    text-shadow: 0px 0px 2px black;
}

.infoTextLeft {
    display: inline;
}

.infoTextRight {
    text-align: right;
    float: right;
    display: inline;
    font-family: Consolas;
}

.powerUpsTextBlock {
    background-color: #3c503c;
    border-radius: 4px;
    border: solid 1px #4c604c;
    padding: 5px 10px;
    margin: 10px 0px;
    color: #3aa63a;
    text-shadow: 0px 0px 2px black;
    height: 260px;
}

.powerUpsNeutral {
    display: inline;
    color: #256cff;
    text-shadow: 0px 0px 10px black;
}

.powerUpsNeutralRight {
    display: inline;
    float: right;
    color: #256cff;
    text-shadow: 0px 0px 10px black;
}  

.powerUpsGood {
    display: inline;
    color: #54c14c;
    text-shadow: 0px 0px 10px black;
}

.powerUpsGoodRight {
    display: inline;
    float: right;
    color: #54c14c;
    text-shadow: 0px 0px 10px black;
}  

.powerUpsBad {
    display: inline;
    color: #ce5050;
    text-shadow: 0px 0px 10px black;
}

.powerUpsBadRight {
    display: inline;
    float: right;
    color: #ce5050;
    text-shadow: 0px 0px 10px black;
}

.resumeModal {
    position: relative;
    padding: 12px 25px;
    left: 125px;
    bottom: 300px;
    width: 500px;
    z-index: 3;
    background-color: #0a760a;
    border-radius: 10px;
    border: solid 2px #1a861a;
    cursor: default;
    color: #ecffdc;
    text-shadow: 0px 0px 5px black;
    box-shadow: 2px 2px 10px #223322;
}

.resumeModal:hover {
    box-shadow: 0px 0px 23px #8dea8f;
    text-decoration: none;
    cursor: pointer;
    color: #ecffdc;
}

.resumeModalText {
    display: inline;
    font-size: 35px;
}

.resumeModalShortcut {
    display: inline;
    float: right;
    font-size: 25px;
    padding-top: 7px;
}

.countDown {
    cursor: none;
    position: relative;
    left: 260px;
    bottom: 365px;
    width: 230px;
    height: 230px;
    border: solid 10px green;
    border-radius: 50%;
    font-size: 150px;
    text-align: center;
    line-height: 220px;
    color: #ecffdc;
    /*text-shadow:  2px 2px 5px black, 0px 0px 30px green;*/
}

.footerBanner {
    display: inline-block;
    margin: 10px 0px;
    font-family: 'Arial Rounded MT';
    text-align: center;
    cursor: default;
    color: green;
    width: 100%;
    height: 67px;
}