body {
    background-color: tan;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.gamePage {
    width: 1000px;
    margin: 0px auto;
    position: inherit;
    z-index: 1;
}

.titleBanner {
    margin: 10px 0px;
    font-family: 'Arial Rounded MT';
    font-size: 40px;
    text-align: center;
    cursor: default;
    color: green;
}

.monitor {
    border-radius: 4px;
    border: 5px solid #937247;
    box-shadow: 1px 1px 15px #3e2a2a;
    background-color: #223322;
}

.canvas {
    width: 780px;
    height: 490px;
    cursor: none;
    border: 3px solid #2b442b;
}

.gameArea {
    display: inline-block;
    float: left;
    width: 760px;
    height: 500px;
    height: 500px;
    cursor: none;
}

.infoArea{
    display: inline-block;
    float: right;
    width: 230px;
    padding: 0px 10px;
    height: 500px;
    cursor: default;
}

.controlTextBlock {
    background-color: #0a760a;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 5px 10px;
    color: #ecffdc;
}

.controlTextBlock:hover {
    box-shadow: 0px 0px 5px #8dea8f;
}

.controlText {
    display: inline;
    height: 200px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.controlShortcut {
    padding-top: 3px;
    font-size: 10px;
    display: inline;
    float: right;
}

.infoTextBlock {
    background-color: #3c503c;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 10px 0px;
    color: #00800b;
    text-shadow: 0px 0px 2px black;
}

.infoTextLeft {
    display: inline;
}

.infoTextRight {
    text-align: right;
    float: right;
    display: inline;
}

.maskingLayer {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    background-color: rgba(210, 180, 140, .8);
    cursor: pointer;
    display: none;
}

.settingsModal {
    position: relative;
    left: 100px;
    top: -420px;
    width: 560px;
    height: 340px;
    padding: 20px;
    z-index: 3;
    background-color: rgb(220, 190, 150);
    border-radius: 4px;
    border: 5px solid #937247;
    box-shadow: 1px 1px 15px #3e2a2a;
    cursor: default;
    display: none;
}

.playPauseModal {
    position: relative;
    left: 100px;
    top: -420px;
    width: 560px;
    height: 340px;
    padding: 20px;
    z-index: 3;
    background-color: rgb(220, 190, 150);
    border-radius: 4px;
    border: 5px solid #937247;
    box-shadow: 1px 1px 15px #3e2a2a;
    cursor: default;
    display: none;

    text-align: center;
    font-size: 80px;
    padding-top: 50px;
    color: green;
    font-family: 'Arial Rounded MT';
}

.playPauseModal:hover {
    color: green;
}

.continueStartOverModal {
    position: relative;
    left: 100px;
    top: -420px;
    width: 560px;
    height: 340px;
    padding: 20px;
    z-index: 3;
    background-color: rgb(220, 190, 150);
    border-radius: 4px;
    border: 5px solid #937247;
    box-shadow: 1px 1px 15px #3e2a2a;
    cursor: default;
    display: none;
}

.instructionsModal {
    position: relative;
    left: 100px;
    top: -420px;
    width: 560px;
    height: 340px;
    padding: 20px;
    z-index: 3;
    background-color: rgb(220, 190, 150);
    border-radius: 4px;
    border: 5px solid #937247;
    box-shadow: 1px 1px 15px #3e2a2a;
    cursor: default;
    display: none;
}

.footerBanner {
    display: inline-block;
    margin: 10px 0px;
    font-family: 'Arial Rounded MT';
    text-align: center;
    cursor: default;
    color: green;
    width: 100%;
    height: 67px;
}