body {
  background-color: tan;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.gamePage {
    width: 1000px;
    margin: 0px auto;
}

.titleBanner {
    margin: 10px 0px;
    font-family: 'Arial Rounded MT';
    font-size: 40px;
    text-align: center;
    cursor: default;
    color: green;
}

.monitor {
    border-radius: 4px;
    border: 5px solid #937247;
    box-shadow: 1px 1px 15px #3e2a2a;
    background-color: #223322;
}

.gameArea {
    float: left;
    width: 760px;
    height: 500px;
}

.infoArea{
    display: inline;
    float: right;
    width: 230px;
    padding: 0px 10px;
    height: 500px;
    cursor: default;
}

.controlTextBlock {
    background-color: #0a760a;
    border-radius: 4px;
    border: solid 1px #1a861a;
    margin: 10px 0px;
    padding: 5px 10px;
    color: #ecffdc;
    text-shadow: 0px 0px 2px black;
    cursor: pointer;
    height: 31px;
}

.controlTextBlock:hover {
    box-shadow: 0px 0px 5px #8dea8f;
}

.controlText {
    display: inline;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.controlShortcut {
    padding-top: 3px;
    font-size: 10px;
    display: inline;
    float: right;
}

.disabledTextBlock {
    background-color: #215a1c;
    border-radius: 4px;
    border: solid 1px #00620e;
    margin: 10px 0px;
    padding: 5px 10px;
    color: #7e7e7e;
    cursor: pointer;
    height: 31px;
}

.disabledText {
    display: inline;
}

.disabledShortcut {
    padding-top: 3px;
    font-size: 10px;
    display: inline;
    float: right;
}

.infoHeading {
    background-color: #3c503c;
    border-radius: 4px 4px 0px 0px;
    border: solid 1px #4c604c;
    border-bottom: hidden;
    padding: 3px 10px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    color: #e6e6e6;
    text-shadow: 0px -1px 2px black;
    letter-spacing: 12px;
    font-size: 18px;
}

.infoBody {
    background-color: #3c503c;
    border-radius: 0px 0px 4px 4px;
    border: solid 1px #4c604c;
    border-top: hidden;
    text-align: center;
    margin: 0px 0px 10px 0px;
    text-shadow: 0px 0px 2px black;
    height: 90px;
    padding: 0px 10px;
}

.infoBlock {
    border-top: dashed 1px #9b9b9b;
    padding: 5px 0px;
    height: 27px;
}

.infoBlockActive {
    color: #56b244;
    text-shadow: 0px 0px 2px black;
}

.infoBlockInactive {
    color: #667c69;
    text-shadow: 0px 0px 2px #223723;
}

.infoTextLeft {
    float: left;
    text-align: left;
    display: inline;
}

.infoTextRight {
    text-align: right;
    float: right;
    display: inline;
    font-family: Consolas;
}

.continueModal {
    position: relative;
    padding: 12px 25px;
    left: 125px;
    bottom: 300px;
    width: 500px;
    z-index: 3;
    background-color: #0a760a;
    border-radius: 10px;
    border: solid 2px #1a861a;
    cursor: default;
    color: #ecffdc;
    text-shadow: 0px 0px 5px black;
    box-shadow: 2px 2px 10px #223322;
}

.continueModal:hover {
    box-shadow: 0px 0px 23px #8dea8f;
    text-decoration: none;
    cursor: pointer;
    color: #ecffdc;
}

.continueModalText {
    display: inline;
    font-size: 35px;
}

.continueModalShortcut {
    display: inline;
    float: right;
    font-size: 25px;
    padding-top: 7px;
}

.quitModal {
    position: relative;
    padding: 12px 25px;
    left: 125px;
    bottom: 300px;
    width: 500px;
    font-size: 20px;
    z-index: 3;
    background-color: #0a760a;
    border-radius: 10px;
    border: solid 2px #1a861a;
    cursor: default;
    color: #ecffdc;
    text-shadow: 0px 0px 5px black;
    box-shadow: 2px 2px 10px #223322;
}

.quitMessage{
    display: inline;
}

.quitYes{
    margin: 0px 13px;
    display: inline;
    color: #ecffdc;
    background-color: green;
    text-align: center;
    width: 65px;
    float: right;
    height: 30px;
    padding-top: 1px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 5px gray;
}

.quitYes:hover{
    box-shadow: 0px 0px 5px blue;
    color: #ececff;
}

.quitNo{
    display: inline;
    color: #ecffdc;
    background-color: green;
    text-align: center;
    width: 65px;
    float: right;
    height: 30px;
    padding-top: 1px;
    margin-right: -12px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 5px gray;
}

.quitNo:hover{
    box-shadow: 0px 0px 5px blue;
    color: #ececff;
}

.counter {
    cursor: none;
    position: relative;
    left: 260px;
    bottom: 365px;
    width: 230px;
    height: 230px;
    border: solid 10px green;
    border-radius: 50%;
    font-size: 150px;
    text-align: center;
    line-height: 220px;
    color: #ecffdc;
}

.message {
    position: relative;
    padding: 12px 25px;
    left: 125px;
    bottom: 300px;
    width: 500px;
    z-index: 3;
    background-color: #0a760a;
    border-radius: 10px;
    border: solid 2px #1a861a;
    cursor: default;
    color: #ecffdc;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 5px black;
    box-shadow: 2px 2px 10px #223322;
    cursor: none;
}

.statusBar {
    display: inline-block;
    margin: 10px 0px;
    padding: 5px 10px;
    font-family: 'Arial Rounded MT';
    text-align: left;
    cursor: default;
    width: 100%;
    height: 80px;
}

.statusInfo {
    color: #eeeeee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-shadow: 0px -1px 0px #000000;
}