h1{
    margin: 0px;
    color: #17406d;
}
h5{
    font-size: 17px;
    margin: 5px;
    color: #17406d;
}
h4{
    margin: 5px;
    color: #17406d;
}
hr{
    margin: 5px;
}
.hr{
    margin: 0px 20px 5px 20px;
}
.link{
    color: #448ad7;
}
.small-caps{
    font-size: 27px;
}
.section{
    color: black;
}
.section-spacer{
    margin-top: 45px;
}
.section-header{
    display: inline;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #17406d;
}
.section-divider{
    margin: 0px;
    display: inline;
    border-color: #448ad7;
    border-width: 1px;
}
p{
    margin-left: 20px;
    margin-right: 20%;
}