
@{
    ViewBag.Title = "Breakout";
}

<link href="~/css/breakout.css" rel="stylesheet" />


<!-- The outermost container -->
<div class="gamePage">    

    <!-- Game banner -->
    <div id="titleBanner" class="titleBanner monitor">
        BREAKOUT
    </div>
    
    <!-- The game area on the left -->
    <div id="gameArea" class="gameArea monitor">

        <!-- Canvas area -->
        <canvas id="canvas" width="750" height="490"></canvas>

        <!-- Settings modal -->
        <div id="settings" class="settingsModal">

        </div>

        <!-- Resume modal -->
        <a id="continueModal" onmouseup="play()" style="display:none;cursor:default;">
            <div id="a1" class="continueModal"
                 onmouseover="setStyle('boxShadow', '0px 0px 5px #8dea8f', ['a2'])"
                 onmouseout="setStyle('boxShadow', '', ['a2'])">
                <div class="continueModalText">CONTINUE</div>
                <div class="continueModalShortcut">(enter)</div>
            </div>
        </a>
        
        <!-- Count down modal -->
        <div id="counter" class="counter" style="display:none;">
        </div>

        <!-- Next level modal -->
        <div id="message" class="message" style="display:none;">
        </div>

        <!-- Quit modal -->
        <div id="quitModal" class="quitModal" style="display:none;">
            <div class="quitMessage" style="display:inline;">Are you sure you want to quit?</div>
            <a id="quitNo" class="quitNo" onmouseup="resume(); return;">NO</a>
            <a id="quitYes" class="quitYes" onmouseup="quit('confirmed'); return;">YES</a>
        </div>

    </div>

    <!-- Info board on right -->
    <div id="infoArea" class="infoArea monitor">

        <a id="playButton" onmouseup="play(); return;">
            <div class="controlTextBlock">
                <div class="controlText">PLAY</div>
                <div class="controlShortcut">(enter)</div>
            </div>
        </a>

        <a id="pauseButton" onmouseup="pause(); return;" style="display:none;">
            <div class="controlTextBlock">
                <div class="controlText">PAUSE</div>
                <div class="controlShortcut">(space)</div>
            </div>
        </a>

        <a id="continueButton" onmouseup="play(); return;" style="display:none;">
            <div id="a2" class="controlTextBlock"
                 onmouseover="setStyle('boxShadow', '0px 0px 23px #8dea8f', ['a1'])"
                 onmouseout="setStyle('boxShadow', '', ['a1'])">
                <div class="controlText">CONTINUE</div>
                <div class="controlShortcut">(enter)</div>
            </div>
        </a>

        <div id="disabledPauseButton" class="disabledTextBlock" style="display:none;">
            <div class="disabledText">PAUSE</div>
            <div class="disabledShortcut">(space)</div>
        </div>

        <div class="infoHeading">STATS</div>
        <div class="infoBody">
            <div class="infoBlock infoBlockActive">
                <div class="infoTextLeft" style="letter-spacing:11.2px;">Level</div>
                <div class="infoTextRight" id="level"></div>
            </div>
            <div class="infoBlock infoBlockActive">
                <div class="infoTextLeft" style="letter-spacing:12.6px;">Tries</div>
                <div class="infoTextRight" id="tries"></div>
            </div>
            <div class="infoBlock infoBlockActive" id="bonusStrength">
                <div class="infoTextLeft" style="letter-spacing:4.1px;">Strength</div>
                <div class="infoTextRight" id="strength">1</div>
            </div>
            <div class="infoBlock"></div>
        </div>

        <div class="infoHeading">SCORE</div>
        <div class="infoBody">
            <div class="infoBlock infoBlockActive">
                <div class="infoTextLeft" style="letter-spacing:8.5px;">Points</div>
                <div class="infoTextRight" id="score"></div>
            </div>
            <div class="infoBlock infoBlockActive">
                <div class="infoTextLeft" style="letter-spacing:8.75px;">Bricks</div>
                <div class="infoTextRight" id="bricksDestroyed"></div>
            </div>
            <div class="infoBlock infoBlockActive">
                <div class="infoTextLeft" style="letter-spacing:17px;">Time</div>
                <div class="infoTextRight" id="time"></div>
            </div>
            <div class="infoBlock"></div>
        </div>

        <div class="infoHeading">BONUS</div>
        <div class="infoBody">
            <a id="bonusExpandBlock"
                 onmouseup="showInfo('ExpandDefinition', 9000); return;">
                <div class="infoBlock" id="bonusExpandBlock">
                    <div class="infoTextLeft" style="letter-spacing:7px;">Expand</div>
                    <div class="infoTextRight" id="bonusExpand">:00</div>
                </div>
            </a>
            <a id="bonusBlockadeBlock"
                 onmouseup="showInfo('BlockadeDefinition', 9000); return;">
                <div class="infoBlock" id="bonusBlockadeBlock">
                    <div class="infoTextLeft" style="letter-spacing:3.7px;">Blockade</div>
                    <div class="infoTextRight" id="bonusBlockade">:00</div>
                </div>
            </a>
            <a id="bonusJuggernautBlock"
                 onmouseup="showInfo('JuggernautDefinition', 9000); return;">
                <div class="infoBlock" id="bonusJuggernautBlock">
                    <div class="infoTextLeft" style="letter-spacing:1.5px;">Juggernaut</div>
                    <div class="infoTextRight" id="bonusJuggernaut">:00</div>
                </div>
            </a>
            <div class="infoBlock"></div>
        </div>

        <div class="controlTextBlock" onmouseup="quit('request'); return;">
            <div class="controlText">QUIT</div>
            <div class="controlShortcut">(esc)</div>
        </div>

        </div>
    
    <!-- Info area at bottom -->
    <div id="statusBar" class="statusBar monitor">
        <div id="statusInfo" class="statusInfo">
        </div>
    </div>

</div>

<script src="~/js/breakout/breakout.js"></script>
<script>
    Breakout();
</script>