
@{
    ViewBag.Title = "Breakout";
}

<link href="~/css/breakout.css" rel="stylesheet" />


<!-- The outermost container -->
<div class="gamePage">

    <!-- Game banner -->
    <div id="titleBanner" class="titleBanner monitor">
        BREAKOUT
    </div>
    
    <!-- The game area on the left -->
    <div id="gameArea" class="gameArea monitor">

        <!-- Canvas area -->
        <canvas id="canvas" width="750" height="490"></canvas>

        <!-- Settings modal -->
        <div id="settings" class="settingsModal">

        </div>

        <!-- Pause/Play modal -->
        <a id="playPause" class="playPauseModal" onmouseup="play()">
            <b>CONTINUE</b>
        </a>

        <!-- Continue/Start Over modal -->
        <div id="continueStartOver" class="continueStartOverModal">

        </div>

        <!-- Instructions modal -->
        <div id="instructions" class="instructionsModal">

        </div>
        
         <!-- Masking layer to give the appearence that all the rest of the layers are faded while a modal is visible -->
        <div id="maskingLayer" class="maskingLayer"></div>

    </div>

    <!-- Info board on right -->
    <div id="infoArea" class="infoArea monitor">

        <a id="playButton" onmouseup="play()">
            <div class="controlTextBlock">
                <div class="controlText">PLAY</div>
                <div class="controlShortcut">(enter)</div>
            </div>
        </a>

        <a id="pauseButton" onmouseup="pause()" style="display:none;">
            <div class="controlTextBlock">
                <div class="controlText">PAUSE</div>
                <div class="controlShortcut">(space)</div>
            </div>
        </a>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Lives :</div>
            <div class="infoTextRight" id="lives"></div>
        </div>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Score :</div>
            <div class="infoTextRight" id="score"></div>
        </div>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Blocks Destroyed :</div>
            <div class="infoTextRight" id="blocksDestroyed"></div>
        </div>

    </div>
    
    <!-- Fotter banner -->
    <div id="footerBanner" class="footerBanner monitor">
    </div>

</div>

<script src="~/js/breakout/breakout.js"></script>
<script>
    Breakout();
</script>