
@{
    ViewBag.Title = "Breakout";
}

<link href="~/css/breakout.css" rel="stylesheet" />


<!-- The outermost container -->
<div class="gamePage">    

    <!-- Game banner -->
    <div id="titleBanner" class="titleBanner monitor">
        BREAKOUT
    </div>
    
    <!-- The game area on the left -->
    <div id="gameArea" class="gameArea monitor">

        <!-- Canvas area -->
        <canvas id="canvas" width="750" height="490"></canvas>

        <!-- Settings modal -->
        <div id="settings" class="settingsModal">

        </div>

        <!-- resume modal -->
        <a id="resumeModal" onmouseup="resume()" style="display:none;cursor:default;">
            <div id="a1" class="resumeModal"
                 onmouseover="setStyle('a2', 'boxShadow', '0px 0px 5px #8dea8f')"
                 onmouseout="setStyle('a2', 'boxShadow', '')">
                <div class="resumeModalText">CONTINUE</div>
                <div class="resumeModalShortcut">(enter)</div>
            </div>
        </a>

        <!-- Instructions modal -->
        <div id="instructions" class="instructionsModal">

        </div>

    </div>

    <!-- Info board on right -->
    <div id="infoArea" class="infoArea monitor">

        <a id="playButton" onmouseup="play(); return false;">
            <div class="controlTextBlock">
                <div class="controlText">PLAY</div>
                <div class="controlShortcut">(enter)</div>
            </div>
        </a>

        <a id="pauseButton" onmouseup="pause(); return false;" style="display:none;">
            <div class="controlTextBlock">
                <div class="controlText">PAUSE</div>
                <div class="controlShortcut">(space)</div>
            </div>
        </a>

        <a id="continueButton" onmouseup="resume(); return false;" style="display:none;">
            <div id="a2" class="controlTextBlock"
                 onmouseover="setStyle('a1', 'boxShadow', '0px 0px 23px #8dea8f')"
                 onmouseout="setStyle('a1', 'boxShadow', '')">
                <div class="controlText">CONTINUE</div>
                <div class="controlShortcut">(enter)</div>
            </div>
        </a>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Tries :</div>
            <div class="infoTextRight" id="lives"></div>
        </div>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Score :</div>
            <div class="infoTextRight" id="score"></div>
        </div>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Bricks Destroyed :</div>
            <div class="infoTextRight" id="blocksDestroyed"></div>
        </div>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Time :</div>
            <div class="infoTextRight" id="time"></div>
        </div>

    </div>
    
    <!-- Fotter banner -->
    <div id="footerBanner" class="footerBanner monitor">
    </div>

</div>

<script src="~/js/breakout/breakout.js"></script>
<script>
    Breakout();
</script>