
@{
    ViewBag.Title = "Breakout";
}

<link href="~/css/breakout.css" rel="stylesheet" />


<!-- The outermost container -->
<div class="gamePage">    

    <!-- Game banner -->
    <div id="titleBanner" class="titleBanner monitor">
        BREAKOUT
    </div>
    
    <!-- The game area on the left -->
    <div id="gameArea" class="gameArea monitor">

        <!-- Canvas area -->
        <canvas id="canvas" width="750" height="490"></canvas>

        <!-- Settings modal -->
        <div id="settings" class="settingsModal">

        </div>

        <!-- Resume modal -->
        <a id="continueModal" onmouseup="play()" style="display:none;cursor:default;">
            <div id="a1" class="continueModal"
                 onmouseover="setStyle('boxShadow', '0px 0px 5px #8dea8f', ['a2'])"
                 onmouseout="setStyle('boxShadow', '', ['a2'])">
                <div class="continueModalText">CONTINUE</div>
                <div class="continueModalShortcut">(enter)</div>
            </div>
        </a>
        
        <!-- Count down modal -->
        <div id="counter" class="counter" style="display:none;">
        </div>

        <!-- Next level modal -->
        <div id="message" class="message" style="display:none;">
        </div>

        <!-- Quit modal -->
        <div id="quitModal" class="quitModal" style="display:none;">
            <div class="quitMessage" style="display:inline;">Are you sure you want to quit?</div>
            <a id="quitNo" class="quitNo" onmouseup="resume(); return;">NO</a>
            <a id="quitYes" class="quitYes" onmouseup="quit('confirmed'); return;">YES</a>
        </div>

    </div>

    <!-- Info board on right -->
    <div id="infoArea" class="infoArea monitor">

        <a id="playButton" onmouseup="play(); return;">
            <div class="controlTextBlock">
                <div class="controlText">PLAY</div>
                <div class="controlShortcut">(enter)</div>
            </div>
        </a>

        <a id="pauseButton" onmouseup="pause(); return;" style="display:none;">
            <div class="controlTextBlock">
                <div class="controlText">PAUSE</div>
                <div class="controlShortcut">(space)</div>
            </div>
        </a>

        <a id="continueButton" onmouseup="play(); return;" style="display:none;">
            <div id="a2" class="controlTextBlock"
                 onmouseover="setStyle('boxShadow', '0px 0px 23px #8dea8f', ['a1'])"
                 onmouseout="setStyle('boxShadow', '', ['a1'])">
                <div class="controlText">CONTINUE</div>
                <div class="controlShortcut">(enter)</div>
            </div>
        </a>

        <a id="nothingButton" style="display:none;" 
           onmouseover="setInnerHTML('NOPE', ['nothingButtonText'])"
           onmouseout="setInnerHTML('', ['nothingButtonText'])">
            <div id="nothingButtonText" class="controlTextBlock">
            </div>
        </a>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Level :</div>
            <div class="infoTextRight" id="level"></div>
        </div>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Tries :</div>
            <div class="infoTextRight" id="tries"></div>
        </div>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Score :</div>
            <div class="infoTextRight" id="score"></div>
        </div>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Bricks Destroyed :</div>
            <div class="infoTextRight" id="bricksDestroyed"></div>
        </div>

        <div class="infoTextBlock">
            <div class="infoTextLeft">Time :</div>
            <div class="infoTextRight" id="time"></div>
        </div>

        <div class="powerUpsTextBlock">
            <div class="infoTextLeft">Power Ups :</div><br/>
            <div id="powerUps">
                <div class="powerUpsNeutral">Neutral</div>
                <div class="powerUpsNeutralRight">info</div><br />

                <div class="powerUpsBad">Bad</div>
                <div class="powerUpsBadRight">info</div><br />

                <div class="powerUpsGood">Good</div>
                <div class="powerUpsGoodRight">info</div>
            </div>
        </div>

        <div class="controlTextBlock" onmouseup="quit('request'); return;">
            <div class="controlText">QUIT</div>
            <div class="controlShortcut">(esc)</div>
        </div>

    </div>
    
    <!-- Footer banner -->
    <div id="footerBanner" class="footerBanner monitor">
    </div>

</div>

<script src="~/js/breakout/breakout.js"></script>
<script>
    Breakout();
</script>