@{
    ViewBag.Title = "Home";
}

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i>Software Developer</h3>
                <p>I have a broad skill set that ranges from front end, to business logic, and database manipulation. I actively seek out ways of ensuring the customer experience is efficient and matches their needs.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i>Problem Solver</h3>
                <p>Opportunities often present themselves in the form of challenges. I find that keeping an open mind and being persistent are important to finding solutions to everyday and unique issues.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i>Team Player</h3>
                <p>When working with others, I regard each person as a customer; offering solutions and support whether they are my supervisor, peer, subordinate, or the end user.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>