@{
    ViewBag.Title = "About Me";
}

<div class="section">
    <div class="container AboutMeImage">
        <div class="row AboutMeText">
            <h2 style="text-align:center">About Me</h2>
            <hr />
            <div class="col-lg-6 col-md-6">
                <h3><i class="fa fa-pencil"></i>Professional</h3>
                <p><h5 style="text-align: justify; line-height: 150%;">
                    I am a full stack developer with an interest in web applications. 
                    I love working with everything from HTML, CSS and JavaScript to Python, C#, .NET MVC and SQL. 
                    My professional history is outside the software industry, and each experience has prepared me for this career change. 
                    When I was an internal auditor, I broke the stereotype. 
                    I showed everyone in my territory that I was an asset, not a threat, by aligning our goals. 
                    Together we improved our compliance ratings by over 30%. 
                    At the same time, I made custom Excel tools for my peers that saved the company over five thousand man hours annually. 
                    I then took those skills to a managerial role in the internet service industry. 
                    I continued to lead by bringing my team together and made efficiency tools that are still in use today. 
                    I'm proud to have followed these passions by enrolling at The Tech Academy where I've learned many software languages. 
                    I look forward to using them to continue to help people succeeded.
                 </h5></p>
            </div>
            <div class="col-lg-6 col-md-6">
                <h3><i class="fa fa-pencil"></i>Personal</h3>
                <p><h5 style="text-align: justify; line-height: 150%;">
                       I live in Vancouver Washington with my fifteen-year-old son who I enjoy spending time with.
                       Recently he's show interest in programming.
                       So, I've been helping him learn Python.
                       To relax I like playing the acoustic guitar and writing songs.
                       But, don't ask me to sing, you'll regret it...
                       I also paint, draw, sculpt, and partake in other generally creative outlets.
                       
                </h5></p>
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("~/Views/Portfolio/OtherProjects.cshtml")
    </div>
</div>