@{
    ViewBag.Title = "About Me";
}

<div class="section">
    <div class="container AboutMeImage">
        <div class="row AboutMeText">
            <h2 style="text-align:center">About Me</h2>
            <hr />
            <div class="col-lg-6 col-md-6">
                <h3><i class="fa fa-pencil"></i>Professional</h3>
                <h5 style="text-align: justify; line-height: 150%;">
                    <p>
                        I am a full stack developer with an interest in web applications.  I work with everything from HTML, CSS and JavaScript to Python, C#, .NET MVC and SQL.
                    </p>
                    <p>
                        Outside the software industry I have worked as an internal auditor (FedEx Office) and manager of field operations (Freewire) after completing training as a wind turbine technician.  In these careers, I added value to the company by improving compliance ratings over 30% and created custom Excel tools that saved the company over 5,000 work hours annually (FedEx Office).  I transferred these skills to management work at Freewire and created efficiency tools still in use.
                    </p>
                    <p>
                        I combine this technical and managerial experience with software developer training through The Tech Academy.  I look forward to using my skills and experience to continue to help people and organizations grow and succeed.
                    </p>
                </h5>
            </div>
            <div class="col-lg-6 col-md-6">
                <h3><i class="fa fa-pencil"></i>Personal</h3>
                <h5 style="text-align: justify; line-height: 150%;">
                    <p>
                        I live in Vancouver Washington with my fifteen-year-old son who I enjoy spending time with.
                        Recently he's show interest in programming.
                        So, I've been helping him learn Python.
                        To relax I like playing the acoustic guitar and writing songs.
                        But, don't ask me to sing, you'll regret it...
                        I also paint, draw, sculpt, and partake in other generally creative outlets.
                    </p>
                </h5>
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("~/Views/Portfolio/OtherProjects.cshtml")
    </div>
</div>