@{
    ViewBag.Title = "Home";
}

<div class="section">
    <div class="container AboutMeImage">
        <div class="row AboutMeText">
            <h2>About Me</h2>
            <hr />
            <div class="col-lg-6 col-md-6">
                <h3><i class="fa fa-check-circle"></i>Professional</h3>
                <p>I have a broad skill set that ranges from front end, to business logic, and database manipulation. I actively seek out ways of ensuring the customer experience is efficient and matches their needs.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <h3><i class="fa fa-pencil"></i>Personal</h3>
                <p>Opportunities often present themselves in the form of challenges. I find that keeping an open mind and being persistent are important to finding solutions to everyday and unique issues.</p>
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("~/Views/Portfolio/OtherProjects.cshtml")
    </div>
</div>