@{
    ViewBag.Title = "Projects";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Archive<small></small></h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="~/images/Archive_lg.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h3>Description</h3>
            <p>Selectively copy files from one folder to another. Use this program for copying newly created or modified files from the source folder. This is useful for keeping a backup destination folder synced. Files with the same name will be overwritten without confirmation. 
            </p>
            <h3>Features</h3>
            <ul>
                <li>File selection</li>
                <li>Profile manager</li>
                <li>Select options</li>
                <li>List affected files</li>
                <li>About page</li>
            </ul>
            <h3>Tools</h3>
            <ul>
                <li>Python 3</li>
                <li>SQL Lite</li>
                <li>TkInter</li>
                <li>IDLE</li>
            </ul>
            <h3>Link</h3>
            <ul>
                <li><a href="https://github.com/nhering/Archive-2.0" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>
    @Html.Partial("OtherProjects")
</div>