@{
    ViewBag.Title = "Projects";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Eat Some Pizza<small></small></h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="~/images/EatSomePizza_lg.jpg" class="img-responsive">
        </div>
        <div class="col-md-4">
            <h3>Description</h3>
            <p>
                A responsive single page website designed to allow customers to select their choice of options. The page udates the pricing as the options are selected and displays them in a total at the bottom.
            </p>
            <h3>Features</h3>
            <ul>
                <li>Responsive</li>
                <li>Dynamic pricing</li>
            </ul>
            <h3>Tools</h3>
            <ul>
                <li>JavaScript</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Bootstrap</li>
                <li>Photoshop</li>
                <li>Illustrator</li>
            </ul>
            <h3>Links</h3>
            <ul>
                <li><a href="https://github.com/nhering/pizza_menu" target="_blank">GitHub</a></li>
                <li><a href="~/Areas/EatSomePizza/EatSomePizza.html" target="_blank">Place an order</a></li>
            </ul>
        </div>
    </div>
    @Html.Partial("OtherProjects")
</div>