@{
    ViewBag.Title = "Projects";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Insurance Quote<small></small></h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="http://placehold.it/750x500" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h3>Description</h3>
            <p>
                A web application with customer and employee interfaces. Users can manage thier quotes and other details. The application calculates a quote based on user input. Employees can access customer data as well as other database entries.
            </p>
            <h3>Features</h3>
            <ul>
                <li>User registration</li>
                <li>Database CRUD functionality</li>
                <li>Employee interface</li>
            </ul>
            <h3>Tools</h3>
            <ul>
                <li>ASP.Net MVC</li>
                <li>Visual Studio</li>
                <li>C#</li>
                <li>Entity Framework</li>
            </ul>
            <h3>Link</h3>
            <ul>
                <li><a href="#" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>
    @Html.Partial("OtherProjects")
</div>