<div class="row">
    <div class="col-lg-12">
        <h3>Other Projects</h3>
        <hr />
    </div>
    <div class="col-lg-12">
        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="~/Portfolio/Archive">
                <img src="~/images/Archive_sm.jpg" class="img-responsive img-customer">
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="~/Portfolio/EatSomePizza">
                <img src="~/images/EatSomePizza_sm.jpg" class="img-responsive img-customer">
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="~/Portfolio/InsuranceQuote">
                <img src="~/images/InsuranceQuote_sm.jpg" class="img-responsive img-customer">
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="~/Portfolio/LibraryDatabase">
                <img src="~/images/LibraryDatabase_sm.jpg" class="img-responsive img-customer">
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="~/Portfolio/SlotMachine">
                <img src="~/images/SlotMachine_sm.jpg" class="img-responsive img-customer">
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="~/Portfolio/SurveyToService">
                <img src="~/images/SurveyToService_sm.jpg" class="img-responsive img-customer">
            </a>
        </div>
    </div>
</div>