<div class="row">
    <div class="col-lg-12">
        <h3>Other Projects</h3>
        <hr />
    </div>
    <div class="col-lg-12" style="overflow-x: auto">
        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
    </div>
</div>