@{
    ViewBag.Title = "Projects";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Slot Machine<small></small></h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="~/images/SlotMachine_lg.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h3>Description</h3>
            <p>
                A single page application designed to mimic a gambling game. The player begins with a $100 purse and can place bets on the outcome of the draw. A randomizer is used to select the next image for each reel and then calculates the losses or winnings based on the odds of winning game rules.
            </p>
            <h3>Features</h3>
            <ul>
                <li>User interface</li>
                <li>Graphic display</li>
                <li>Form controls</li>
            </ul>
            <h3>Tools</h3>
            <ul>
                <li>Visual Studio</li>
                <li>C#</li>
            </ul>
            <h3>Links</h3>
            <ul>
                <li><a href="https://github.com/nhering/Slot-Machine" target="_blank">GitHub</a></li>
                <li><a href="~/Areas/SlotMachine/SlotMachine.aspx" target="_blank">Play</a></li>
            </ul>
        </div>
    </div>
    @Html.Partial("OtherProjects")
</div>