@{
    ViewBag.Title = "Projects";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Survey to Service<small></small></h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="~/images/SurveyToService_lg.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h3>Description</h3>
            <p>
                Designed for a Portland based, managed internet service provider: Freewire. This application consolidates multiple department's interactions across a vital customer process. It captures information gathered by one department and organizes that data in the correct format for the next department to use.
            </p>
            <h3>Features</h3>
            <ul>
                <li>Intuitive design</li>
                <li>Data carry over</li>
                <li>Consistency with existing business logic</li>
                <li>Cusomizable fields</li>
            </ul>
            <h3>Tools</h3>
            <ul>
                <li>Excel</li>
            </ul>
            <h3>Link</h3>
            <ul>
                <li><a href="http://freewirebroadband.com" target="_blank">Freewire</a></li>
            </ul>
        </div>
    </div>
    @Html.Partial("OtherProjects")
</div>