@font-face {
	font-family: EatSomeFont;
	src: url(EatSomeF);
	}

/*
|-----------------------------------|
| 	HEADER							|
|-----------------------------------|
*/
.header {
	width: 700px;
	margin: auto;
}
.header-logo {
	height: 95px;
	margin: 20px 0px 20px 20px;
}
/*
|-----------------------------------|
| 	MENU SELECTIONS				    |
|-----------------------------------|
*/
.guest-check {
	background-color: ;
}
.selections {
	width: 700px;
	margin: auto;
}
.selection-divider {
	background-image: url('../ESP_images/selectionDividor.png');
	background-position: bottom;
	background-color: rgba(185, 0, 0, 1);
	background-repeat: repeat-x repeat-y;
	height: 30px;
}
.menu-selection-image {
	height: 60px;
	margin: 10px;
	vertical-align: top;
}
.menu-selection-description {
	font-family: arial;
	display: inline-block;
	margin: 0px;
	padding-top: 9px;
	padding-bottom: 18px;
}
/*
|-----------------------------------|
| 	YOUR ORDER					    |
|-----------------------------------|
*/
.your_order {
	list-style-type: none;
}